{% extends 'base.html' %}

{% block title %}Статьи{% endblock %}

{% block content %}
    <h1>Статьи</h1>
    <form method="get" class="form-inline mb-3">
        <div class="form-group mx-sm-3 mb-2">
            {{ form.term.label_tag }}
            {{ form.term }}
        </div>
        <div class="form-group mx-sm-3 mb-2">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="form-group mx-sm-3 mb-2">
            {{ form.author.label_tag }}
            {{ form.author }}
        </div>
        <div class="form-group mx-sm-3 mb-2">
            {{ form.year.label_tag }}
            {{ form.year }}
        </div>
        <button type="submit" class="btn btn-primary mb-2">Поиск</button>
    </form>
    <a href="{% url 'article_create' %}" class="btn btn-success mb-3">Добавить статью</a>
    <ul class="list-group">
        {% for article in articles %}
            <li class="list-group-item {% if article.error_description and not article.resolved and article.user_ins == user %}list-group-item-danger{% elif article.article_idfr in duplicate_ids %}list-group-item-warning{% endif %}">
                <a href="{% url 'article_detail' article.pk %}">{{ article.title_rus }}</a>
                <div class="btn-group float-right">
                    {% if user.is_superuser %}
                        <a href="{% url 'article_update' article.pk %}" class="btn btn-primary" title="Редактировать">
                            <i class="fas fa-edit"></i>
                        </a>
                    {% else %}
                        {% if article.error_description and not article.resolved and article.user_ins == user %}
                            <a href="{% url 'article_update' article.pk %}" class="btn btn-primary" title="Редактировать">
                                <i class="fas fa-edit"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if not article.error_description or article.resolved %}
                        <a href="{% url 'add_error_description' article.pk %}" class="btn btn-warning" title="Добавить описание ошибки">
                            <i class="fas fa-exclamation-circle"></i>
                        </a>
                    {% endif %}
                    {% if user.is_superuser %}
                        <a href="{% url 'article_delete' article.pk %}" class="btn btn-danger" title="Удалить">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
