{% extends 'base.html' %}

{% block title %}Детали статьи{% endblock %}

{% block content %}
    <h1>Детали статьи</h1>
    <div class="card">
        <div class="card-header">
            <h2>{{ article.title_rus }}</h2>
            {% if article.title_eng %}
                <h3>{{ article.title_eng }}</h3>
            {% endif %}
        </div>
        <div class="card-body">
            <p><strong>Автор (на русском):</strong> {{ article.author_rus }}</p>
            <p><strong>Автор (на английском):</strong> {{ article.author_eng }}</p>
            <p><strong>Ключевое слово (на русском):</strong> {{ article.keyword_rus }}</p>
            <p><strong>Ключевое слово (на английском):</strong> {{ article.keyword_eng }}</p>
            <p><strong>Год публикации:</strong> {{ article.publish_year }}</p>
            <p><strong>Ссылка:</strong> <a href="{{ article.link }}" target="_blank">{{ article.link }}</a></p>
            <p><strong>Контекст использования:</strong> {{ article.usage_context }}</p>
            <p><strong>Математический аппарат:</strong> {{ article.maths }}</p>
            <p><strong>Идентификатор статьи:</strong> {{ article.article_idfr }}</p>
            <p><strong>Решение задачи:</strong> {{ article.problems_solution }}</p>
            <p><strong>Термин:</strong> {{ article.term }}</p>
            <p><strong>Описание термина:</strong> {{ article.term_desc }}</p>
            <p><strong>Пользователь (добавил):</strong> {{ article.user_ins.username }}</p>
            {% if article.user_checker %}
                <p><strong>Пользователь (проверил):</strong> {{ article.user_checker.username }}</p>
            {% endif %}
            <p><strong>Описание ошибки:</strong> {{ article.error_description }}</p>
            <p><strong>Решена:</strong> {{ article.resolved }}</p>
            <p><strong>Интерес:</strong> {{ article.interest }}</p>
            <p><strong>Дата создания:</strong> {{ article.created_at }}</p>
            <p><strong>Дата обновления:</strong> {{ article.updated_at }}</p>
            <p><strong>Дата проверки:</strong> {{ article.checked_at }}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'article_update' article.pk %}" class="btn btn-primary" title="Редактировать">
                <i class="fas fa-edit"></i>
            </a>
            {% if user.is_superuser %}
                <a href="{% url 'article_delete' article.pk %}" class="btn btn-danger" title="Удалить">
                    <i class="fas fa-trash-alt"></i>
                </a>
            {% endif %}
            <a href="{% url 'article_list' %}" class="btn btn-secondary">Назад к списку</a>
        </div>
    </div>
{% endblock %}
